*{
    margin: 0;
    padding: 0;
}
:root{
    --text-color:black;
}
body{
    color: var(--text-color);
}

.content h1{
    font-size: 2.5rem;
    font-weight: 600;
  text-align: center;
}
.img img{
    width: 500px;
    height: 300px;
}
.slide .info{
    width: 85vw;
    height: 70vh;
    box-shadow: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}
.size select{
    width: 10rem;
    height: 2rem;
}
.btn-flat {
    position: absolute;
    top:28rem;
    width: 10rem;
    height: 2.5rem;
    background: #080808;
    color: wheat;
    border-radius: 1rem;
}

ul{
    list-style: none;
}
.row{
display: flex;
flex-wrap: wrap;

}
.footer-cool{
    width:80%;
    padding: 0 3rem;
    line-height: 1.5rem;
}
.footer-cool h4{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-cool h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -0.2rem;
     background-color: #e91663;
     height: 0.5rem;
     box-sizing: border-box;
     width: 5rem;
     border-radius: 1rem;
}
.footer-cool ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    color:#080808;
    text-decoration: none;
    font-weight: 300;
    display: block;

}
.footer-cool1 h4{
    position: absolute;
    left: 10rem;
    font-size: 1.2rem;
    text-transform: capitalize;
   
}
.footer-cool2 {
    width: 100vw;
   text-align: center;
   padding: 3rem 0;
}
.footer-cool2 span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.product-content-left-small-img{
    width: 20%;
    position: relative;


}
.product-content-left-small-img img{
    width: 90%;
}